<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>{% if page.project_name %}{{ page.project_name }} |{% elsif page.short_name %} {{ page.short_name }} |{% elsif page.title %} {{ page.title }} |{% endif %} {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/uswds.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  {% include header.html %}
  <main id="main-content" {% if page.class %}class="{{ page.class }}"{% endif %}>
    {{ content }}
  </main>
  <script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
</body>
</html>
