---
layout: base
---

<div class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <!-- <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Hero callout:</span>Bring attention to a project priority</h1> -->
      <h2>Helping our partners build, buy, and use modern technology to improve digital services for beneficiaries and the government staff who serve them.</h2>
      <a class="usa-button" href="https://18f.gsa.gov/contact/">Get in touch</a>
    </div>
  </div>
</div>
<div class="grid-container usa-section">
  {{ content }}
</div>
